#login.page, #register.page {
  font-size: 14px;
  text-align: center;
  .react-square-grid {
    position: relative;
    .react-sq {
      height: 50px;
      width: 50px;
    }
  }
  input[type=text] {
    &:hover, &:focus {
      border: 2px solid #F64E21;
    }
  }
}
