section#badges {
    padding-right: 50px;

    @media (max-width: 1000px) {
        padding-left: 50px;
    }
    
    .badge-row {
        font-family: $secondary-font;
        margin-bottom: 40px;
        .badge-row-title {
            color: $medium-gray;
            font-size: 18px;
        }
        .badge-row-carousel {
            position: relative;

            
            .badge-card-wrapper {
                display: inline-block;
                .badge-card-front {
                    background: $rusty-background;
                    background-image: linear-gradient(#DACEC2, transparent);
                    // background: darkgray;
                    cursor: pointer;
                    display: inline-block;
                    height: 240px;
                    margin-left: 10px;
                    margin-bottom: 15px;
                    margin-top: 15px;
                    margin-right: 10px;
                    position: relative;
                    text-align: center;
                    transition: transform .2s; /* Animation */
                    width: 180px;
                    &:hover {
                        transform: scale(1.1);
                        transition: 1.5s;
                        z-index: $badge-hover-z-index;
                    }
                    .badge-card-img-wrapper {
                        height: 50%;
                        position: relative;
                        text-align: center;
                        width: 100%;
                        img {
                            left: 50%;
                            position: absolute;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 2;
                            width: 65%;
                        }
                    }
                    .badge-card-title {
                        color: whitesmoke;
                        font-family: $main-font;
                        font-size: 18px;
                        overflow: hidden;
                        padding: 0px 10px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .badge-card-issuer {
                        color: whitesmoke;
                        font-family: $main-font;
                        font-size: 10px;
                    }
                    table {
                        font-family: $secondary-font;
                        margin: 10px auto;
                        padding-top: 10%;
                        line-height:1;
                        .gb-stats-values {
                            color: whitesmoke;
                            font-size: 20px;
                            td {
                                width: 33%;
                            }
                        }
                        .gb-stats-keys {
                            color: whitesmoke;
                            font-size: 8px;
                            td {
                                padding-left: 7.5px;
                                padding-right: 7.5px;
                                width: 33%;
                            }
                        }
                    }
                }
            }
            
            .BrainhubCarousel__dots {
                .BrainhubCarousel__dot {
                    background: none;
                    &:hover:before {
                        background: $ags-green;
                    }
                    &:before {
                        height: 10px;
                        width: 10px;
                    }                    
                }
            }
            &.hide-dots .BrainhubCarousel__dots {
                display: none;
            }
        }
    }
}