$badge-details-box-padding: 40px;

#badge {
  background: $background-gray;
  bottom: 0;
  left: 0;
  position: fixed;
  right: $menu-width;
  top: $login-bar-height;
  transition-duration: 1s;
  transform: translateX(-100%);
  z-index: $badge-overlay-z-index;
  &.badge-details-active {
    transform: none;
  }

  #badge-details-card-wrapper {
    padding: 50px;
    position: relative;
    text-align: center;
    .badge-details-card {
      box-shadow: 4px 4px 4px rgba($dark-gray, 0.25);
      display: inline-block;
      height: 550px;
      margin-right: 20px;
      max-height: calc(100vh - (#{$login-bar-height} + 50px + 50px));
      position: relative;
      text-align: center;
      vertical-align: top;
      width: 350px;
    }
    #badge-details-card-front {
      background: $rusty-background;
      background-image: linear-gradient(#DACEC2, transparent);
      .badge-details-card-img-wrapper {
        height: 50%;
        position: relative;
        text-align: center;
        width: 100%;
        img {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            width: 90%;
        }
      }
      .badge-card-title {
          font-family:$main-font;
          color: whitesmoke;
          font-size: 26px;
          font-weight: 600;
      }
      .badge-card-issuer {
          font-family:$main-font;
          color: whitesmoke;
          font-size: 16px;
      }
      table {
        margin: 10px auto;
        font-family:$secondary-font;
        color: whitesmoke;
        position: absolute;
        bottom: 30px;
        
        .badge-stats-values {
          font-size: 20px;
          td {
            width: 33%;
          }
        }
        
        .gb-stats-keys {
          font-size: 10px;
          td {
            padding-left: 7.5px;
            padding-right: 7.5px;
            width: 33%;
          }
        }
      }
    }
    #badge-details-card-back {
      background: $light-gray;
      background-image: linear-gradient(#F6F6F6, #D7CDCC);
      #badge-details-card-tabs {
        font-family: $main-font;
        height: 50px;
        left: $badge-details-box-padding;
        position: absolute;
        right: $badge-details-box-padding;
        top: 50px;
        .badge-details-card-tab {
          color: #7E787C;
          cursor: pointer;
          font-size: 20px;
          font-weight: 600;
          position: absolute;
          text-decoration: none;
          &:hover {
            border-bottom: 3px solid #F64E21;
          }
          &.badge-details-tab-selected {
            color: #F64E21;
          }
        }
        #badge-details-overview-tab {
          left: 35px;
        }
        #badge-details-criteria-tab {
          right: 35px;
        }
      }
      .badge-details-card-details-box {
        background-image: linear-gradient(rgba(247, 98, 58, 0.7), #AE341C);
        bottom: 50px;
        border-radius: 10px;
        left: $badge-details-box-padding;
        padding: 30px 15px;
        position: absolute;
        right: $badge-details-box-padding;
        top: 100px;
        font-family: $secondary-font;

        .badge-expiration {
          color: $light-gray;
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        .badge-description {
          color: whitesmoke;
          font-size: 14px;
          overflow-y: auto;
          padding: 15px;
        }
        .badge-criteria {
          color: whitesmoke;
          font-size: 14px;
          overflow-y: auto;
          padding: 15px;
        }
      }
    }
  }
}
