$badge-details-box-horizontal-padding: 40px;
$badge-details-inner-padding: 20px;
$badge-expiration-warning-height: 25px;
$badge-details-box-bottom-padding: 50px;
$badge-details-claim-divider-height: 21px;
$badge-claim-code-box-height: 37.5%;
$badge-evidence-height: 170px;
$evidence-textarea-height: calc(.8 * #{$badge-evidence-height});
$evidence-file-name-size: 12px;
$expanded-file-list-height: 40px;
$badge-card-break: 1075px;
$badge-smaller-card-break: 600px;
$badge-details-min-padding: 15px;
$badge-details-small-height: 450px;
$badge-details-normal-height: 550px;

#badge {
  background: $background-gray;
  bottom: 0;
  left: 0;
  position: fixed;
  right: $menu-width;
  top: $login-bar-height;
  transition-duration: 1s;
  transform: translateX(-100%);
  z-index: $badge-overlay-z-index;
  &.badge-details-active {
    transform: none;
  }

  @media (max-width: $menu-break) {
    right: 0;
  }

  @media (max-width: $badge-card-break) {
    perspective: 1000px;   
  }

  &[data-side=back] #badge-details-card-wrapper {
    transform: rotateY(180deg);
  }

  @media (max-width: 430px) {
    .details-page-close-icon {
      display: none;
    }
  }

  #badge-details-card-wrapper {
    padding: 50px;
    position: relative;
    text-align: center;

    @media (max-width: $badge-card-break) {
      bottom: 0;
      left: 0;
      padding: $badge-details-min-padding;
      position: absolute;
      top: 0;
      right: 0;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    .badge-details-card {
      box-shadow: 4px 4px 4px rgba($dark-gray, 0.25);
      display: inline-block;
      height: $badge-details-normal-height;
      margin-right: 20px;
      max-height: calc(100vh - (#{$login-bar-height} + 50px + 50px));
      max-width: 95%;
      position: relative;
      text-align: center;
      vertical-align: top;
      width: 350px;

      @media (max-width: $badge-smaller-card-break) {
        height: $badge-details-small-height;
      }

      @media (max-width: $badge-card-break) {
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
        margin-left: 0;
        margin-right: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    #badge-details-card-front {
      background: $rusty-background;
      background-image: linear-gradient(#DACEC2, transparent);
      .badge-details-card-img-wrapper {
        height: 50%;
        position: relative;
        text-align: center;
        width: 100%;
        img {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            width: 90%;
            @media (max-width: $badge-smaller-card-break) {
              width: 70%;
            }
        }
      }
      .badge-card-title {
          font-family:$main-font;
          color: whitesmoke;
          font-size: 26px;
          font-weight: 600;
          margin-top: 20px;
      }
      .badge-card-issuer {
          font-family:$main-font;
          color: whitesmoke;
          font-size: 16px;
      }
      table {
        margin: 10px auto;
        font-family:$secondary-font;
        color: whitesmoke;
        position: absolute;
        bottom: 30px;
        
        .badge-stats-values {
          font-size: 20px;
          td {
            width: 33%;
          }
        }
        
        .gb-stats-keys {
          font-size: 10px;
          td {
            padding-left: 7.5px;
            padding-right: 7.5px;
            width: 33%;
          }
        }
      }
    }
    #badge-details-card-back {
      background: $light-gray;
      background-image: linear-gradient(#F6F6F6, #D7CDCC);
      @media (max-width: $badge-card-break) {
        transform: translateX(-50%) rotateY(180deg);
      }
      #badge-details-card-tabs {
        font-family: $main-font;
        height: 50px;
        left: $badge-details-box-horizontal-padding;
        position: absolute;
        right: $badge-details-box-horizontal-padding;
        top: 50px;
        .badge-details-card-tab {
          color: #7E787C;
          cursor: pointer;
          font-size: 20px;
          font-weight: 600;
          position: absolute;
          text-decoration: none;
          &:hover {
            border-bottom: 3px solid $orange;
          }
          &.badge-details-tab-selected {
            color: $orange;
          }
        }
        #badge-details-overview-tab {
          left: 35px;
        }
        #badge-details-criteria-tab {
          right: 35px;
        }
      }
      .badge-details-card-details-box {
        background-image: linear-gradient(rgba(247, 98, 58, 0.7), #AE341C);
        bottom: 50px;
        border-radius: 10px;
        left: $badge-details-box-horizontal-padding;
        padding: 30px 15px;
        position: absolute;
        right: $badge-details-box-horizontal-padding;
        top: 100px;
        font-family: $secondary-font;

        .badge-expiration {
          color: $light-gray;
          font-size: 14px;
          font-weight: bold;
          left: $badge-details-inner-padding;
          height: $badge-expiration-warning-height;
          position: absolute;
          right: $badge-details-inner-padding;
          top: $badge-details-inner-padding;
        }
        .badge-description, .badge-criteria {
          bottom: $badge-details-inner-padding;
          color: whitesmoke;
          font-size: 14px;
          left: $badge-details-inner-padding;
          overflow-x: hidden;
          overflow-y: auto;
          padding: 0;
          position: absolute;

          // doing this to make the scroll bar is outside the text
          padding-right: $badge-details-inner-padding;
          right: 0;   
          top: $badge-details-inner-padding;
          word-wrap: break-word;                 
        }
        .badge-expiration + .badge-description {
          top: calc(#{$badge-details-inner-padding} + #{$badge-expiration-warning-height} + 10px);          
        }
        .badge-claim-details {
          bottom: 0;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          .enter-claim-code-wrapper {
            color: white;
            height: $badge-claim-code-box-height;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            .enter-claim-code-inner {
              height: 60px;
              left: 50%;
              position: absolute;
              transform: translate(-50%, -50%);
              top: 50%;
              width: 100%;
              .enter-claim-code-message {
                color: white;
                font-family: Kanit, sans-serif;
                font-size: 12px;
              }
              .enter-claim-code-input-wrapper {
                margin: 0 auto;
                margin-top: 12.5px;
                max-width: 200px;
                text-align: center;
                input {
                  background: transparent;
                  border-bottom: 1px solid white;
                  border-left: none;
                  border-right: none;
                  border-top: none;
                  color: white;
                  font-size: 20px;
                  font-weight: bold;
                  text-align: center;
                  text-transform: uppercase;
                  width: 100%;
                  &:focus {
                    border: none;
                    border-bottom: 3px solid white;
                    border-top: 2px solid transparent;
                    outline: none;
                  }
                  // &::-webkit-input-placeholder, ::placeholder, :ms-input-placeholder, ::ms-input-placeholder {
                  //   color: white;
                  //   font-weight: bold;
                  // } 
                }             
              }
            }
          }
          .badge-claim-details-divider {
            background: white;
            color: $rusty-background;
            display: none;
            font-size: 14px;
            font-weight: bold;
            height: $badge-details-claim-divider-height;
            left: 0;
            position: absolute;
            right: 0;
            top: $badge-claim-code-box-height;
            width: 100%;
          }
          .badge-evidence {
            border: 1px solid white;
            bottom: 35px;
            left: 35px;
            position: absolute;
            right: 35px;
            top: 15px;
            input {
              display: none;
            }
            textarea {
              background: transparent;
              border: 1px solid white;
              box-sizing: border-box;
              color: white;
              font-family: Poppins;
              height: calc(100% - #{$expanded-file-list-height});
              left: 0;
              margin: 0;
              padding: 15px;
              position: absolute;
              resize: none;
              top: 0;
              width: 100%;
              z-index: 9;
              &:focus {
                outline: none;
              }
              &::placeholder {
                color: white;
              }
            }
            #evidence-input-label {
              bottom: 0;
              left: 0;
              position: absolute;
              right: 0;
              top: 0;
            }
            #badge-evidence-file-list {
              background: white;
              bottom: 0;
              height: $expanded-file-list-height;
              left: 0;
              overflow-y: auto;
              padding-left: 5px;
              position: absolute;
              right: 0;
              text-align: left;
              .evidence-file-line {
                .evidence-file-name {
                  color: $rusty-background;
                  font-family: Kanit;
                  font-size: $evidence-file-name-size;
                  overflow: hidden;
                  padding-right: 30px;
                  position: relative;
                  text-overflow: ellipsis;                  
                  white-space: nowrap;
                }  
                svg {
                  color: $rusty-background;
                  cursor: pointer;
                  height: $evidence-file-name-size;
                  position: absolute;
                  width: $evidence-file-name-size;
                  right: 15px;
                  top: 50%;
                  transform: translateY(-50%);
                  &:hover {
                    color: $orange;
                  }
                }
              }
            }
          }
          &[data-claim-code-available="true"] {
            .enter-claim-code-wrapper {
              display: block;
            }
            .badge-claim-details-divider {
              display: block;
            }
            textarea {
              height: $evidence-textarea-height;
            }
            .badge-evidence {
              bottom: auto;
              height: $badge-evidence-height;
              top: calc(#{$badge-claim-code-box-height} + #{$badge-details-claim-divider-height} + 15px);
              #badge-evidence-file-list {
                top: $evidence-textarea-height;
              }
            }
            #evidence-input-label {
              bottom: auto;
              height: $badge-evidence-height;
            }            
          }
        }
      }
    }
    .badge-details-claim-button-wrapper {
      bottom: $badge-details-box-bottom-padding;
      left: 50%;
      position: absolute;
      transform: translate(-50%, 50%);
      button {
        cursor: pointer;
        font-size: 20px;
        line-height: 30px;
        padding-top: 5px;
      }
      &[data-claimed=true] {
        button {
          cursor: no-drop;
        }
      }
    }
  }
  .badge-details-flip {
    border: 5px dashed $orange;
    // bottom: 0;
    color: $orange;
    cursor: pointer;
    display: none;
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    left: 50%;
    padding: 5px;
    position: absolute;
    transform: translateX(-50%);


    @media (max-width: $badge-card-break) {
      display: block;
      top: calc(#{$badge-details-min-padding} + #{$badge-details-normal-height} + 10px);
    }
    @media (max-width: $badge-smaller-card-break) {
      top: calc(#{$badge-details-min-padding} + #{$badge-details-small-height} + 10px);
    }
    &:hover {
      background: $orange;
      color: $white;
    }
  }
}
