$error-bar-padding: 15px;

.gb-error-bar {
    background: $rusty-background;
    color: white;
    font-family: 'Poppins';
    font-size: 14px;
    left: 0;
    padding: $error-bar-padding;
    position: absolute;
    right: $menu-width;
    top: $login-bar-height;
    z-index: $error-bar-z-index;

    svg {
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        right: $error-bar-padding;
        top: 50%;
        transform: translateY(-50%);
    }
}