$home-video-height: 90vh;
$play-btn-right: 100px;
$play-btn-width: 200px;
$play-btn-width-smaller: 150px;
$play-btn-width-smallest: 100px;
$home-video-mobile-left-margin: 50px;
$home-video-mobile-left-margin-smaller: 25px;
$video-content-top: 325px;

#home-video {
    position: relative;
    margin-right: $menu-width;
    height: $home-video-height;
    background: #D7CCC8;
    
    #home-video-img {
        bottom: 0;
        left: 0;
        height: $home-video-height;
        opacity: 0.5;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
    }
    
    #overlay {
        //246,78,33
        //247,98,58
        //215,63,63
        background: rgba(247,98,58,0.7);
        
        position: absolute;
        top:0;
        bottom:0;
        left: 0;
        right:0;
    }
    
    #video-title {
        font-family: $main-font;
        font-size: 70px;
        font-weight: 700;
        line-height: 120%;
        position: absolute;
        padding-top: 20px;
        margin-left: 100px;
        margin-right: 50px;
        color: $white-font;

        @media screen and (max-width: 1000px) {
            font-size: 60px;
        }
        @media screen and (max-width: 950px) {
            font-size: 50px;
        }        
        @media screen and (max-width: 750px) {
            margin-left: $home-video-mobile-left-margin;
            font-size: 40px;
        }           
        @media screen and (max-width: 600px) {
            margin-left: $home-video-mobile-left-margin-smaller;
            font-size: 35px;
        }             
    }
        
    #video-content {
        font-family: $secondary-font;
        font-size: 2vmin;
        font-weight: 400 !important;
        position: absolute;
        display: inline-block;
        width: 45vw;
        max-height: calc(90vh - #{$video-content-top} - 40px);        
        max-width: 750px;
        overflow: auto;
        margin-top: $video-content-top;
        padding-left: 100px;
        margin-right: calc(#{$play-btn-right} + #{$play-btn-width} + 50px);
        line-height: 140%;
        color: $white-font;
        * {
            font-weight: 400 !important;
        }
        
        h3 {
            font-size: 1em;
        }
    
        @media (max-width: 1000px) {
            margin-right: calc(#{$play-btn-right} + #{$play-btn-width-smaller} + 50px);
        }

        @media (max-width: 750px) {
            padding-left: $home-video-mobile-left-margin;
        }       
        @media (max-width: 700px) {
            margin-right: calc(#{$play-btn-right} + #{$play-btn-width-smallest} + 50px);
        }            
        @media (max-width: 600px) {
            padding-left: $home-video-mobile-left-margin-smaller;
        }        
    }
    #play-btn {
        cursor: pointer;
        height: auto;
        width: $play-btn-width;
        position: absolute;
        right: $play-btn-right;
        bottom: 100px;
        display: inline-block;
        color: $white-font;
        
        &:hover {
            transform: scale(1.5);
            transition: 1.5s;
            text-shadow:0px 0px 30px #fdec6e;
            text-shadow: linear-gradient(to right, red, green);
        }
        @media (max-width: 1000px) {
            width: $play-btn-width-smaller;
        }
        @media (max-width: 700px) {
            width: $play-btn-width-smallest;
        }
        @media (max-width: 650px) {
            right: 50px;
        }
    }
    
    #mp4 {
        background: black;
        width: 100%;
        height: 90vh;
        position: absolute;
        margin-right:$menu-width;
        top: 0;
        z-index: -1;
        &[active=true] {
            z-index: 2;
        }
    }
    
    #video-close-icon {
        cursor: pointer;
        display: none;
        position: absolute;
        top: 25px;
        right: 25px;
        color: whitesmoke;
        z-index: 5;
        font-size: 20px;
    }
    [active=true] ~ #video-close-icon {
        display: block;
    }    
}