// $login-icon-size: $login-bar-height - 10px;
.login-bar-background {
    background: linear-gradient(to right, #6EB612, #004F00);
    height: $login-bar-height;
    top:0;
    left:0;
    right:0;
    z-index: $login-bar-z-index;
    position: fixed;
    
    .gb-login-bar {
        background: $background-gray;
        box-sizing: border-box;
        height: calc(#{$login-bar-height} - 5px);
        width: 100%;
        padding-bottom: 10px;
        padding-left: 50px;
        padding-top: 10px;

    
        svg {
            display: inline-block;
            fill: $blue-font;
            height: 100%;
            width: auto;
        }
        a:hover svg {
            fill: $orange;
        }

        .gb-login-bar-welcome-text-wrapper {
            display: inline-block;
            height: 95%;
            position: relative;
            width: 400px;
    
            .gb-login-bar-welcome-text {
                font-family: $secondary-font;
                color: $blue-font;
                font-size: 18px;
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .gb-login-bar-input-wrapper {
            display: inline-block;
            height: 100%;
            padding-left: 10px;
            position: relative;
            width: 200px;
            vertical-align: top;
    
            .gb-login-bar-input {
                background: transparent;
                border-bottom: 1px solid $medium-gray;
                border-left: none;
                border-right: none;
                border-top: none;
                color: $blue-font;
                height: 75%;
                padding-left: 10px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 180px;
                &:focus {
                    background: lighten($orange, 37.5%);
                    border-bottom-color: $orange;
                    outline: none;
                }
            }
            ::-webkit-input-placeholder, ::placeholder, :ms-input-placeholder, ::ms-input-placeholder {
                color: $medium-gray;
                font-weight: bold;
            }
        }
    }
}