.gb-menu {
    background: red;
    background: pink;
    bottom: 0;
    padding: 0;
    position: fixed;
    right: 0;

    @media screen and (min-width: $menu-break) {
        left: auto;
        width: $menu-width;
        top: $login-bar-height;
    }

    @media screen and (max-width: $menu-break) {
        display: none;
        left: 0;
        top: calc(#{$login-bar-height} - #{$login-bar-bottom-border-height});
        width: 100%;
        z-index: 99;
        &[data-display-menu="true"] {
            display: block;
        }
    }

    .gb-menu-option {
        background: purple;
        height: calc(100% / 5);
        position: relative;
        font-family: $secondary-font;

        @media screen and (min-width: $menu-break) {
            width: $menu-width;
        }

        @media screen and (max-width: $menu-break) {
            width: 100%;
        }

        a {
            display: block;
            height: 100%;
            position: relative;
            width: 100%;

            span {
                color: $menu-link-color;
                font-size: 18px;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            &[href="/home"] {
                background: #004F00;
            }

            &[href="/badges"] {
                background: #008000;
            }

            &[href="/issuers"] {
                background: #0F793D;
            }

            &[href="/account"] {
                background: #6EB612;
            }

            &[href="/resources"] {
                background: #5FA926;
            }
        }
    }
}