$message-bar-padding: 15px;
$close-icon-size: 20px;

.gb-message-bar {
    color: white;
    font-family: 'Poppins';
    font-size: 14px;
    left: 0;
    padding: $message-bar-padding;
    padding-right: calc(#{$message-bar-padding} + #{$close-icon-size} + #{$message-bar-padding});
    position: fixed;
    right: $menu-width;
    top: $login-bar-height;
    z-index: $message-bar-z-index;

    svg {
        cursor: pointer;
        font-size: $close-icon-size;
        position: absolute;
        right: $message-bar-padding;
        top: 50%;
        transform: translateY(-50%);
    }
    &.error {
        background: $rusty-background;
    }
    &.success {
        background: $ags-green;
    }
}