.page {
    background: $background-gray;
    box-sizing: border-box;
    min-height: 100vh;
    padding-bottom: 50px;
    padding-left: $standard-horizontal-page-padding;
    padding-right: $standard-horizontal-page-padding;
    padding-top: calc(#{$login-bar-height} + #{$page-padding-top});
    position: relative;

    @media screen and (max-width: 1000px) {
        padding-left: calc(#{$standard-horizontal-page-padding} / 2);
        padding-right: calc(#{$standard-horizontal-page-padding} / 2);
    }

    @media screen and (max-width: 800px) {
        padding-left: calc(#{$standard-horizontal-page-padding} / 3);
        padding-right: calc(#{$standard-horizontal-page-padding} / 3);
    }

    @media screen and (max-width: 600px) {
        padding-left: calc(#{$standard-horizontal-page-padding} / 4);
        padding-right: calc(#{$standard-horizontal-page-padding} / 4);
    }

    @media screen and (min-width: $menu-break) {
        margin-right: $menu-width;
    }
}