.page {
    background: $background-gray;
    box-sizing: border-box;
    margin-right: $menu-width;
    min-height: calc(100vh - #{$login-bar-height});
    padding-bottom: 50px;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: calc(#{$login-bar-height} + 50px);
    position: relative;
}