$pie-chart-size: 300px;
#profile {
    font-size: 18px;
    #pie-chart-wrapper {
        margin: 0 auto;
        max-width: $pie-chart-size;

        svg {
            cursor: pointer;
            text {
                pointer-events: none;
            }
        }
    }

    .profile-subpage {
        border: 2px solid $dark-gray;
        border-radius: 20px;
        margin-top: -1 * $pie-chart-size / 2;
        padding: 30px;
        padding-top: 15px + $pie-chart-size / 2;
    }

    .tag {
        background: darkslategray;
        border: 2px solid darkslategray;
        color: whitesmoke;
        display: inline-block;
        font-size: 12px;
        margin-right: 10px;
        margin-top: 10px;
        padding: 5px;        
    }
}