#resources {
    background-color: $background-gray;
    font-size: 18px;
    color: $blue-font;
    
    #faq-image {
        height: 500px;
        margin-right: #{$menu-width};
        margin-top: #{$login-bar-height};
        position: relative;
        img {
            height: 85%;
            position: absolute;
            right: calc(-1200px + 33%);
            top: 50%;
            transform: translateY(-50%);
        }
       
        #faq-toggle {
            left: 33%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            a {
                text-decoration: none;
                h3 {
                    font-family: $secondary-font;
                    border-bottom: 5px solid transparent;
                    color: $blue-font;
                    font-size: 50px;
                    padding-left: 5px;
                    text-decoration: none;

                    // // inset
                    // color: transparent;
                    // text-shadow: 0px 4px 8px rgba(255,255,255,0.2);
                    // -webkit-background-clip: text;
                    // -moz-background-clip: text;
                    // background-clip: text;        
                }
                &.resources-subpage-selected h3 {
                    border-bottom-color: $orange;
                }
            }
        }
    }

    #earnerFAQ, #issuerFAQ {
        @media screen and (max-width: 1000px) {
            margin-left: 0px !important;
            max-width: 100% !important;
        }
    }
    
    #earnerFAQ {
        position: relative;
        background-color: transparent;
        font-family: $secondary-font;
        font-size: 1rem;
        max-width: 60%;
        margin-left: 10%;
        text-align: left;
    }
    
    #issuerFAQ {
        font-family: $secondary-font;
        background-color: transparent;
        font-size: 1rem;
        max-width: 60%;
        margin-left: 10%;
        text-align: left;
    }
}
