#resources {
    background-color: #f0d6a7;
    font-size: 18px;
    color: white;
    
    #faq-image {
        position: relative;
        // background: url("/static/images/faq_background.png");
        // background-size: cover;
        #img {
            height: 500px;
            width: calc(100% - #{$menu-width});
            left: 0;
            top: 0;
            margin-bottom: 60px;
        }
       
        #faq-toggle {
            left: 15%;
            position: absolute;
            top: 50%;
            z-index: 2;
            a {
                text-decoration: none;
                h3 {
                    color: white;
                    font-size: 50px;
                    text-decoration: none;
                }
            }
        }
    }

    
    #earnerFAQ {
        position: relative;
        background-color: transparent;
        font-family: $secondary-font;
        font-size: 1rem;
        max-width: 60%;
        margin-left: 10%;
        text-align: left;
    }
    
    #issuerFAQ {
        font-family: $secondary-font;
        background-color: transparent;
        font-size: 1rem;
        max-width: 60%;
        margin-left: 10%;
        text-align: left;
    }
}
