.stylish-button {
  border: 2px solid green;
  border-radius: 7.5px;
  color: green;
  cursor: pointer;
  font-family: 'Poppins';
  font-size: 14px;
  height: 41px;
  line-height: 14px;
  padding: 10px 15px;
}