@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,600;0,800;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

$login-bar-height: 50px;
$menu-width: 225px;
$standard-horizontal-page-padding: 130px;
$page-padding-top: 50px;

$menu-link-color: white;
$light-gray: #D7CDCC;
$dark-gray: #2C333B;
$background-gray: #e5e5e5;
$medium-gray: #828282;
$rusty-background: rgba(174, 52, 28, 0.8); //#AE341C;
$orange: #F64E21;
$ags-green: #008000;
$overlay-gray: $background-gray;
$close-sign-color: #7E787C;

//font
$main-font: 'Kanit', sans-serif;
$secondary-font: 'Poppins', sans-serif;

$blue-font: #1d263b;
$white-font: #D7CDCC;

@import 'z-indexes';
