$login-bar-height: 50px;
$menu-width: 225px;

$menu-link-color: #D7CDCC;
$light-gray: #D7CDCC;
$dark-gray: #2C333B;
$background-gray: #e5e5e5;
$medium-gray: #828282;
$rusty-background: #AE341C;
$orange: darkorange;
